@tailwind base;
@tailwind components;
@tailwind utilities;

.subtitle {
  font-weight: bold;
  color: #4c837a;
  margin-bottom: 20px;
  font-size: 20px;
}

.rotate-logos {
  animation: rotate-logos-animation 10s linear infinite;
}

.btn-primary {
  background-color: #4c837a;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: 300ms;
  width: 100%;
  height: 44px;
}

.btn-primary:hover {
  background-color: #24403b;
}

.controller-btn {
  width: 20px;
  height: 20px;
  background-color: #c6bf88;
  border-radius: 9999px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controller-btn-fill {
  width: 12px;
  height: 12px;
  background-color: #4c837a;
  border-radius: 9999px;
  z-index: 2;
}

.controller-btn:hover {
  cursor: pointer;
}

@keyframes rotate-logos-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 700px) {
  .btn-primary {
    max-width: 300px;
  }
}
