@tailwind base;
@tailwind components;
@tailwind utilities;

.subtitle {
  font-weight: bold;
  color: #4c837a;
  margin-bottom: 20px;
  font-size: 20px;
}

.rotate-logos {
  animation: rotate-logos-animation 10s linear infinite;
}

.btn-primary {
  align-items: center;
  background-color: #4c837a;
  border-radius: 25px;
  color: white;
  display: flex;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  text-align: center;
  transition: 300ms;
  width: 100%;
}

.btn-primary:hover {
  background-color: #24403b;
}

.controller-btn:hover {
  cursor: pointer;
}

.contact-input {
  background-color: #e1ddbf;
  border-radius: 10px;
  border: 2px solid #4c837a;
  color: #67958e;
  font-size: 20px;
  min-height: 50px;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  resize: none;
  width: 100%;
}

.input-label {
  background-color: #e1ddbf;
  border-left: 2px solid #4c837a;
  border-right: 2px solid #4c837a;
  color: #4c837a;
  font-size: 14px;
  font-weight: bold;
  left: 32px;
  letter-spacing: 2px;
  padding: 0 5px;
  position: absolute;
  top: -10px;
}
.contact-input::placeholder {
  color: #85bab1;
}

.form-error {
  color: #dc2626;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  position: absolute;
  right: 4px;
  top: -20px;
}

.form-btn {
  background-color: #4c837a;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  height: 44px;
  text-align: center;
  transition: 200ms;
  width: 100%;
}

.form-btn:hover {
  background-color: #24403b;
}

@keyframes rotate-logos-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 700px) {
  .btn-primary {
    max-width: 300px;
  }
}
